body {
    background-color: #FCDEC0;
    font-family: sans-serif;
}

hr {
    background-color: #FCDEC0;
    border-style:none;
    border-top:dotted;
    border-color: #E5B299;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

img{
    height: 180px;
}

h1
{
    color: #7D5A50;
}

h3{
    color: #7D5A50;
}

p{
    color: #B4846C;
}
table{
    color: #7D5A50;
}